html,body,.container
{
    height:100%;
}
.container
{
    display:table;
    width: 100%;
    margin-top: 0px;
    padding: 0 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}
header
{
    background: #20222B;
    height: 50px;
}

.row
{
    height: 100%;
    display: table-row;
}
@media (min-width: 992px) {
  .row .no-float {
      display: table-cell;
      float: none;
  }
}
.greenbg {   
    background: #84C318;
}
.blackbg {
    background: #20222B;  	
}

.verticalcenter {
    display: flex;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: floralwhite;
      
}

.padleftright{
    padding-left: 80px;
    padding-right: 80px;
}

.padtop{
    padding-top: 25px;
}
    
.footer{
    padding-top: 380px;
    align-content: center;
    color: floralwhite;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 120%;